body {
	background-image: url("images/background-gradient.jpg");

.form-group2 {
    margin-top: 50px;
	margin-left: 50px;
}

.icon-logo {
    width: 100px;
	height: 100px;
	marign-left: 25px;
	margin-top: 25px;
}

p, h1, h2, h3, h4 {
	font-color: white;
}